html, body{
    background-image: url("../images/background1.jpg");
    background-size:auto;
    color:white;
    background-repeat: no-repeat;
}
.navigation-bar{
    margin-bottom: 40px;
}
.head{
    color: black;
    padding-bottom: 10px;
}
.footer-content{
    padding-top: 10px;
}
.profile{
    color:rgb(97, 141, 246);
    font-weight: 700;
    font-size: 60px;
}
/* .profile-name{
    font-size: 60px;
    font-weight: 600;
    padding: 15px;  
}
.profile{
    margin-top: 3%;
}
.profile-justify{
    margin-left: 50px;
}
.age{
    display: flex;
    padding: 15px;
}
.age p{
    margin-top: 5px;
    margin-left: 20px;
}
.email{
    display: flex;
    padding: 15px;
}
.email p{
    margin-top: 4px;
    margin-left: 20px;
} */